### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [23]:
purchase_data.head()
purchase_df = purchase_data[["SN", "Age", "Gender", "Item Name", "Price"]]
players = purchase_df["SN"].unique()
number_players = len(players)
print(number_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
items = purchase_df["Item Name"].unique()
number_items = len(items)
average_price = purchase_df["Price"].mean()
number_purchases = purchase_df["Price"].count()
total_revenue = purchase_df["Price"].sum()
PA_summary_table = pd.DataFrame({"Number of Unique Items": [number_items], "Average Price": [average_price], "Total Revenue": [total_revenue]})                            
print(PA_summary_table)

   Number of Unique Items  Average Price  Total Revenue
0                     179       3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
demo_df = purchase_df.drop_duplicates(['SN', 'Age', 'Gender'])
male_player = demo_df.loc[demo_df["Gender"] =="Male", :]
male_count = len(male_player)
percent_male = round((male_count / number_players) * 100, 2)
female_player = demo_df.loc[demo_df["Gender"] =="Female", :]
female_count = len(female_player)
percent_female = round((female_count / number_players) * 100, 2)
other_player = demo_df.loc[demo_df["Gender"] =="Other / Non-Disclosed", :]
other_count = len(other_player)
percent_other = round((other_count / number_players) * 100, 2)
#summary table - research further
Demo_gender_summary_df = pd.DataFrame({"Total Count": [male_count, female_count, other_count], "Percentage of Players": [percent_male, percent_female, percent_other]})
#index the summary table needs to be set to ['Male, 'Female', 'Other / Non-Disclosed']
s = pd.Series(["Male", "Female", "other / Non'Disclosed"])
Demo_gender_summary_df = Demo_gender_summary_df.set_index([s])
#set format yikes
Demo_gender_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
other / Non'Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#use purchase df as demo_df removed gender dups and purchase needs all purchases
#delete dups in SN in purchase df - hum still doesn't work
#purchase2_df = purchase_df.drop_duplicates(['SN']) - when use get the purchase count changing - need to use two df?
grouped_gender_df = purchase_df.groupby(['Gender'])
gender_purchases = grouped_gender_df.count()["Price"]
gender_mean_price = grouped_gender_df.mean()["Price"]
gender_total_revenue = grouped_gender_df.sum()["Price"]
#gender_count = grouped_gender_df.count()["SN"]
#demo_df.groupby(['Gender']).apply(divide_two_cols)
#also tried unique...nunique()
#gender_avg_total_revenue = grouped_gender_df.sum()["Price"] / grouped_gender_df.nunique()["SN"] -gives same #
#gender_avg_total_revenue = grouped_gender_df.sum()["Price"] / grouped_gender_df(["Price"], ["SN"]).value_count(normalize=True)
#tried above with only SN as well
gender_avg_total_revenue = grouped_gender_df.sum()["Price"] / grouped_gender_df.count()["SN"]
PA_gender_summary_table_df = pd.DataFrame({"Purchase Count": gender_purchases, "Average Purchase Price": gender_mean_price, "Total Purchase Value": gender_total_revenue, "Avg Total Purchase Per Person": gender_avg_total_revenue})
PA_gender_summary_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
age_bins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 10, 15, 20, 25, 30, 35, 40, 99999]
pd.cut(demo_df["Age"], bins, right=True, labels=age_bins, include_lowest=False)
demo_df["Age Range"] = pd.cut(demo_df["Age"], bins, right=False, labels=age_bins, include_lowest=True)
#demo_df.head()

#why getting errors if hint says to use pd.cut?
#try value_counts in place of groupby - interestingly I do not see where I calculated my age_count
age_percent = demo_df["Age Range"].value_counts(normalize = True).sort_index()

Age_demo_summary = pd.concat([age_count,age_percent], axis=1)
Age_demo_summary.columns = (['Total Count', 'Percent of Players'])

#format, blah

#Print summary
Age_demo_summary

#OK this works - try this instead of groupby in purchase analysis

<ipython-input-44-291c1fac649a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_df["Age Range"] = pd.cut(demo_df["Age"], bins, right=False, labels=age_bins, include_lowest=True)

       Total Count  Percent of Players
<10             17            0.029514
10-14           22            0.038194
15-19          107            0.185764
20-24          258            0.447917
25-29           77            0.133681
30-34           52            0.090278
35-39           31            0.053819
40+             12            0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
#test with demo_df but believe need to change to purchase_df for this one
age_bins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 10, 15, 20, 25, 30, 35, 40, 99999]
pd.cut(demo_df["Age"], bins, right=True, labels=age_bins, include_lowest=False)
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, right=False, labels=age_bins, include_lowest=True)
purchase_df.head()


#try value_counts in place of groupby
#age_purchases = price count by age bin
#age_avg_price = price mean by age bin
#age_total_purchases = price sum by age bin
#age_avg_per_person = need total number of people

#age_percent = demo_df["Age Range"].value_counts(normalize = True).sort_index()

Age_purchase_summary = pd.concat([age_purchases,age_avg_price, age_total_purchases, age_avg_per_person], axis=1)
Age_purchase_summary.columns = (['Age Ranges', 'Purchase Count', 'Average Purchase Price, Avg Total Purchase per Person'])

#format, blah

#Print summary
Age_purchase_summary

<ipython-input-45-2f15782249fe>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, right=False, labels=age_bins, include_lowest=True)

,SN,Age,Gender,Item Name,Price,Age Range
0,Lisim78,20,Male,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,Fury,1.44,20-24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80