### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [17]:
purchase_data.head()
purchase_df = purchase_data[["SN", "Age", "Gender", "Item Name", "Price"]]
players = purchase_df["SN"].unique()
number_players = len(players)
print(number_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
items = purchase_df["Item Name"].unique()
number_items = len(items)
average_price = purchase_df["Price"].mean()
number_purchases = purchase_df["Price"].count()
total_revenue = purchase_df["Price"].sum()
PA_summary_table = pd.DataFrame({"Number of Unique Items": [number_items], "Average Price": [average_price], "Total Revenue": [total_revenue]})                            
print(PA_summary_table)

   Number of Unique Items  Average Price  Total Revenue
0                     179       3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
#need formatting
demo_df = purchase_df.drop_duplicates(['SN','Age','Gender'])
gender_count = demo_df["Gender"].value_counts()
gender_percent = gender_count / number_players * 100
Demo_gender_summary_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})
Demo_gender_summary_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#changed to using original purchase_data
grouped_gender_df = purchase_data.groupby(['Gender'])
gender_purchases = grouped_gender_df.count()["Price"]
gender_mean_price = grouped_gender_df.mean()["Price"]
gender_total_revenue = grouped_gender_df.sum()["Price"]
gender_avg_total_revenue = gender_total_revenue / Demo_gender_summary_df["Total Count"]
#new data fram
PA_gender_analysis = pd.DataFrame({"Purchase Count": gender_purchases,
                                   "Average Purchase Price": gender_mean_price,
                                  "Total Purchase Value": gender_total_revenue,
                                  "Avg Total Purchase per Person": gender_avg_total_revenue})
PA_gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
age_bins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 10, 15, 20, 25, 30, 35, 40, 99999]
pd.cut(demo_df["Age"], bins, right=True, labels=age_bins, include_lowest=False)
demo_df["Age Range"] = pd.cut(demo_df["Age"], bins, right=False, labels=age_bins, include_lowest=True)
#demo_df.head()

#why getting errors if hint says to use pd.cut?
#try value_counts in place of groupby - interestingly I do not see where I calculated my age_count
age_count = demo_df["Age Range"].value_counts()
age_percent = age_count / number_players
#Age_demo_summary = pd.concat([age_count,age_percent], axis=1)
#Age_demo_summary.columns = (['Total Count', 'Percent of Players'])

#format, blah
#Print summary
Age_demo_summary = pd.DataFrame({"Total Count": age_count, "Percentage of Playes": age_percent})

Age_demo_summary = Age_demo_summary.sort_index()
Age_demo_summary
#OK this works - try this instead of groupby in purchase analysis

<ipython-input-26-757d8782fbdb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_df["Age Range"] = pd.cut(demo_df["Age"], bins, right=False, labels=age_bins, include_lowest=True)

       Total Count  Percentage of Playes
<10             17              0.029514
10-14           22              0.038194
15-19          107              0.185764
20-24          258              0.447917
25-29           77              0.133681
30-34           52              0.090278
35-39           31              0.053819
40+             12              0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# changed to use purchase_data for this one
age_bins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 10, 15, 20, 25, 30, 35, 40, 99999]
#pd.cut(purchase_data["Age"], bins, right=True, labels=age_bins, include_lowest=False)
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, right=False, labels=age_bins, include_lowest=True)
purchase_data.head()

#group by on age range
group_age= purchase_data.groupby("Age Range")

#try value_counts in place of groupby
age_purchases = group_age["Price"].count()
age_avg_price = group_age["Price"].mean()
age_total_purchases = group_age["Price"].sum()
avg_purchase_per_person = age_total_purchases / Age_demo_summary["Total Count"]

#create my summary dataframe
#Print summary
PA_Age_summary = pd.DataFrame({"Purchase Count": age_purchases,
                               "Average Purchase Price": age_avg_price,
                               "Total Purchase Value": age_total_purchases,
                               "Avg Total Purchase Per Person": avg_purchase_per_person})
PA_Age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
#calculations using groupby
top_spenders_df = purchase_data.groupby(['SN'])
top_purchases = top_spenders_df.count()["Price"]
top_avg_price = top_spenders_df.mean()["Price"]
top_total_purchases = top_spenders_df.sum()["Price"]
top_avg_total_revenue = top_total_purchases / Demo_gender_summary_df["Total Count"]

#Summary table
TopSpenders_summary_table_df = pd.DataFrame({"Purchase Count": top_purchases,
                                             "Average Purchase Price": top_avg_price,
                                             "Total Purchase Value": top_total_purchases})

#sort from highest to lowest
TopSpenders_summary_table_df = TopSpenders_summary_table_df.sort_values("Total Purchase Value", ascending=False)
TopSpenders_summary_table_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
#original DF is only one with item ID at this point
#do I want to actually use groupby function
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
#popular_df.head() - correct!

#groupby [Item ID, Item Name]
popular_items_df = popular_df.groupby(["Item ID", "Item Name"])

#Calculations
pop_purchase_count = popular_items_df.count()["Price"]
pop_avg_price = popular_items_df.mean()["Price"]
pop_total = popular_items_df.sum()["Price"]

#Create summary table
Popular_items_summary_df = pd.DataFrame({"Purchase Count": top_purchases,
                                             "Item Price": top_avg_price,
                                             "Total Purchase Value": top_total_purchases})

#sort highest to lowest
Popular_items_summary_df = Popular_items_summary_df.sort_values("Purchase Count", ascending=False)
Popular_items_summary_df.head()

             Purchase Count  Item Price  Total Purchase Value
SN
Lisosia93                 5    3.792000                 18.96
Iral74                    4    3.405000                 13.62
Idastidru52               4    3.862500                 15.45
Asur53                    3    2.480000                  7.44
Inguron55                 3    3.703333                 11.11

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#sort total prhcase value