# Python Slicing

[starting index, ending_index, step]

In [50]:
my_sentence = "Python slicing hurts my head"

In [54]:
type(my_sentence[0])

str

In [52]:
my_list = my_sentence.split(" ")

In [48]:
my_list.append("alot")

In [56]:
type(my_list[0])

str

In [5]:
#If I wanted to slice out the word Python I start at index 0 up to index 6. You achieve this with [0:6].
my_sentence[0:6]

'Python'

In [6]:
#I can also just leave out the 0
my_sentence[:6]

'Python'

In [7]:
#If i wanted to skip python and just output "slicing hurts my head" I'd change my starting position and then simply end with
# a colon indicating I want everything after my starting position.
my_sentence[7:]

'slicing hurts my head'

In [8]:
#Slicing also can take a 3rd argument, the "step" or intervals to skip in your slice. So if I want every other letter in the sentence...
my_sentence[0::2]
#note that if the ending index is left out, it will go through the entire sentence.

'Pto lcn ut yha'

In [9]:
#You can also provide negative numbers to for example specify you want to end 4 index's before the end. To slice out the ".com"
email = 'sbarter@yahoo.com'
email[0:-4]

'sbarter@yahoo'

In [10]:
#Providing a negative 1 as the "step" argument will reverse the sentence.
email[::-1]

'moc.oohay@retrabs'

# Slicing applies to any iterable that is indexable such as arrays, lists, indexes, etc

In [57]:
my_list = ['abc', 'bdc', 'cedc', 'dadad', 'eeef', 'fada', 'gada']

In [62]:
for entry in my_list:
    entry.replace("b", "X")
    print(entry)

abc
bdc
cedc
dadad
eeef
fada
gada

In [61]:
my_list

['abc', 'bdc', 'cedc', 'dadad', 'eeef', 'fada', 'gada']

In [12]:
my_list[0:3] #Start at 0 index, end at 3rd ('d') but don't include

['a', 'b', 'c']

In [13]:
my_list[:6] #Start at 0 index, end at 6th index ('g') but don't include

['a', 'b', 'c', 'd', 'e', 'f']

In [14]:
my_list[::2] #Return every item in the list in steps of 2

['a', 'c', 'e', 'g']

# Also Pandas Dataframes!

In [15]:
import pandas as pd
from sklearn.datasets import load_boston

In [16]:
data = load_boston()

In [17]:
df = pd.DataFrame(data.data, columns = data.feature_names)

In [18]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [21]:

df.iloc[:10, :3]

      CRIM    ZN  INDUS
0  0.00632  18.0   2.31
1  0.02731   0.0   7.07
2  0.02729   0.0   7.07
3  0.03237   0.0   2.18
4  0.06905   0.0   2.18
5  0.02985   0.0   2.18
6  0.08829  12.5   7.87
7  0.14455  12.5   7.87
8  0.21124  12.5   7.87
9  0.17004  12.5   7.87

In [23]:
df.iloc[::-2] # Reversed

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6.0,391.0,19.2,395.77,15.10
497,0.26838,0.0,9.69,0.0,0.585,5.794,70.6,2.8927,6.0,391.0,19.2,396.90,14.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14

In [25]:
df.iloc[1] #last row

CRIM         0.02731
ZN           0.00000
INDUS        7.07000
CHAS         0.00000
NOX          0.46900
RM           6.42100
AGE         78.90000
DIS          4.96710
RAD          2.00000
TAX        242.00000
PTRATIO     17.80000
B          396.90000
LSTAT        9.14000
Name: 1, dtype: float64

In [26]:
df.iloc[:,-1] #last column

0      4.98
1      9.14
2      4.03
3      2.94
4      5.33
       ...
501    9.67
502    9.08
503    5.64
504    6.48
505    7.88
Name: LSTAT, Length: 506, dtype: float64

In [27]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [29]:
df.info

<bound method DataFrame.info of         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]>

In [63]:
sum([1,2,3])

6